@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    background-color: gainsboro;
}

.cabecalho{
    background-color: white;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10rem;
    height: 100px;
}

.container h2{
    font-family:  'Roboto Slab', serif;
    font-size: 30px;
}

.navbar{
    margin-right: 1.6rem;
}

.lista{
    display: flex;
    list-style: none;
}

.lista li{
    margin-left: 2rem;
    padding: 10px 5px;
    border: 1px solid lightslategray;
    border-radius: 5px;
    text-align: center;
}

.lista li:hover{
    background-color: lightslategray;
    padding: 10px 5px;
}

.lista a{
    color: lightslategray;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    padding: 10px 5px;
}

.lista a:hover{
    color: white;
    padding: 10px 5px;
}

.principal h1{
    margin: 1rem 10rem;
    font-family:'Roboto Slab', serif;
}

.container2{
    margin: 0 10rem;
}

.sublista{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
}

.sublista img{
    width: 70px;
    align-items: center;
}

.item{
    width: 23%;
    background-color: white;
    margin: 0.5rem;
    padding: 1rem 0;
}

.sublista a{
    text-decoration: none;
    display: block;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.sublista li:nth-child(4n+1){
    margin-left: 0;
}

.sublista li:nth-child(4n){
    margin-right: 0;
}

.mapa-cursos h2{
    margin: 1rem 10rem;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-weight: bold;
}

.lista-cursos{
    display: flex;
    margin: 0 10rem;
    justify-content: space-between;
}

.mapa-cursos{
    background-color: rgba(50,76,100,255);
    padding: 1rem 0;
    margin-top: 2rem;
}

.mapa{
    list-style: none;
}

.mapa a{
    color: white;
    text-decoration: none;
    font-family:'Roboto Slab', serif; ;
}

.mapa-titulo{
    font-size: 25px;
    font-family:'Roboto Slab', serif;
    padding-left: 5px;
    margin-bottom: 1rem;
    font-weight: bold;
}

.mapa-titulo1{
    color: green;
    border-left: 5px solid green;
}

.mapa-titulo2{
    color:rgb(0, 145, 255);
    border-left: 5px solid rgb(0, 145, 255);
}

.mapa-titulo3{
    color: rgb(222, 24, 222);
    border-left: 5px solid rgb(222, 24, 222);
}

.mapa-titulo4{
    color: orange;
    border-left: 5px solid orange;
}

.video{
    background-color: rgba(97,155,215,255);
    padding: 2rem 0;
    height: auto;
}

.informacoes{
    display: flex;
    margin: 0 10rem;
    padding: 5px 0;
    height: 400px;
    width: 79%;
}

.estudo{
    width: 70%;
    flex-grow: 1;
}

.vantagens{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 30%;
    align-self: center;
}

.vantagens h3{
    font-size: 40px;
    color: white;
    font-family: 'Roboto Slab', serif;
}

.vantagens p{
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    margin: 1rem auto;
}

.cadastro{
    background-color: orangered;
    margin-left: 0.5rem;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 3px;
}

.cadastro a{
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: white;
}

.iframe{
    width: 90%;
    height: 387px;
}

.estudo{
    margin-right: 0.5rem;
    align-self: center;
}

.rodape{
    margin: 5rem 10rem;
    align-items: center;
}

.rodape1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logos{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.patrocinio{
    flex-grow:2;
    align-items: center;
    width: 80%;
}

.formulario{
   flex-grow: 1;
   width: 20%;
   margin-left: 6rem;
}

fieldset{
    display: flex;
    border: none;
}

legend{
    color:black;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    font-weight: bold;
}

input{
    border-radius: 5px 0 0 5px;
    border: 1px solid #65b56d;
}

.botao-enviar{
    background-color: #65b56d;
    padding: 10px 5px;
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;
}

@media only screen and (min-width:1024px) and (max-width:1300px){
    .mapa-cursos h2{
        margin: 1rem 2rem;
    }
    
    .lista-cursos{
        flex-direction: row;
        margin: 0% 2rem;
    }

    .vantagens{
        width: auto;
    }

    .lista li{
        margin-left: 0.5rem;
    }
}

@media only screen and (max-width:1023px){

    .cabecalho{
        height: 280px;
    }

    .container{
        flex-direction: column;
        margin: 0% auto;
        height: auto;
        width: 90%;
    }

    .navbar{
        margin: 0%;
        width: 100%;
    }

    .lista{
        flex-direction: column;
        margin: 0 auto;
        display: block;
    }

    .lista li{
        margin: 0% auto;
        width: 100%;
        border-radius: 0%;
        border: none;
        border-bottom: 1px solid lightslategray;
    }

    .app{
        order: -1;
    }

    .principal h1{
        margin: 2rem auto;
        text-align: center;
    }

    .container2{
        margin: 0 auto;
        width: 90%;
    }

    .sublista{
        flex-direction: column;
    }

    .item{
        width: 100%;
        margin: 0.5rem 0;
    }

    .informacoes{
        flex-direction: column;
        height: auto;
        margin: 0 auto;
        width: 90%;
    }

    .cadastro{
        margin-top: 3rem;
    }

    .mapa-cursos{
        margin: 2rem 0;
    }

    .mapa-cursos h2{
        margin: 0 auto;
        width: 90%;
    }

    .mapa-titulo{
        margin: 2rem 0 0 0;
    }

    .lista-cursos{
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
    }

    .estudo{
        width: 100%;
        text-align: center;
    }

    .vantagens{
        width: auto;
        margin-top: 2rem;
    }

    .logos{
        justify-content: space-around;
    }

    .rodape{
        margin: 2rem 0%;
    }

    .rodape1{
        flex-direction: column;
        margin: 0% auto;
        width: 90%;
    }

    .patrocinio{
        width: 100%;
        margin-bottom: 2rem;
    }

    .formulario{
        width: auto;
        margin: 0%;
}

}
